* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body, input, button, textarea {
  // Caso a fonte roboto não seja carregada irá utilizar outra fonte no pc
  font: 400 16px 'Roboto', sans-serif;
}
